mat-card {
    transition: box-shadow 0.3s ease;
    border-radius: 15px;
    margin: 15px;
}

mat-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.title {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    color: #2D3748;
    margin-bottom: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dotted-text {
    -webkit-text-security: disc;
    /* For webkit browsers */
    text-security: disc;
    /* For modern browsers */
}

.password {
    border-top: 1px solid gray;
    font-size: 2rem;
    text-align: center;
}

@media (min-width: 640px) {
    mat-card {
        width: 400px;
    }
}