<mat-card class="mb-4" [ngClass]="{'selected': isSelected}">
    <mat-card-header>
        <div class="header">
            <div class="title">
                {{ credential.userName }}

            </div>

            <div>
                <button mat-icon-button color="primary" (click)="onEdit()">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="onDelete()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>

    </mat-card-header>

    <mat-card-content>
        <div class="flex justify-between items-center">
            <span><b>{{ credential.app }}</b> | {{ credential.category }}</span>
            <button mat-button color="primary" (click)="togglePasswordVisibility()">
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                {{ showPassword ? 'Hide Password' : 'Show Password' }}
            </button>
        </div>
        <!-- Password (visible only if selected and "show password" is active) -->
        <div *ngIf="!showPassword; else hiddenPassword" class="dotted-text password">Password123456789</div>

        <!-- Template for the dotted password effect -->
        <ng-template #hiddenPassword>
            <div class="password">{{ password }}</div>
        </ng-template>
    </mat-card-content>
</mat-card>