<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Autocomplete Fields -->
    <div class=" flex flex-col sm:flex-row sm:gap-4">
      <!-- Category Input -->
      <mat-form-field class="flex-1" appearance="outline">
        <mat-label>Category</mat-label>
        <input type="text" matInput [matAutocomplete]="categoryAuto" formControlName="category" />
        <mat-autocomplete #categoryAuto="matAutocomplete" (optionSelected)="onCategoryChange($event)">
          <mat-option *ngFor="let option of categories" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- App Input -->
      <mat-form-field class="flex-1" appearance="outline">
        <mat-label>App</mat-label>
        <input type="text" matInput [matAutocomplete]="appAuto" formControlName="app" />
        <mat-autocomplete #appAuto="matAutocomplete">
          <mat-option *ngFor="let app of filteredApps" [value]="app">
            {{ app }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('app')?.hasError('required')">
          App is required
        </mat-error>
      </mat-form-field>
    </div>

    <!-- User Inputs -->
    <div class="flex flex-col sm:flex-row sm:gap-4 mt-4">
      <!-- Username -->
      <mat-form-field class="flex-1" appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="userName" />
        <mat-error *ngIf="form.get('userName')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="flex-1" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit"
      class="w-full mt-6 py-2 px-4 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition duration-300 ease-in-out transform hover:scale-105 disabled:bg-gray-400 disabled:cursor-not-allowed"
      [disabled]="form.invalid">
      Submit
    </button>

    <button type="button" (click)="clearForm()"
      class="w-full mt-6 py-2 px-4 bg-green-600 text-white rounded-md hover:bg-green-700 transition duration-300 ease-in-out transform hover:scale-105 disabled:bg-gray-400 disabled:cursor-not-allowed">
      Clear all inputs
    </button>
  </form>

</div>
<div *ngFor="let credential of credentials; let i = index">
  <app-credential-card [credential]="credential" [isSelected]="selectedCardIndex === i" (selectCard)="onCardSelect(i)"
    (edit)="onEditCredential(credential.id!)" (delete)="onDeleteCredential(credential)"></app-credential-card>
</div>