/* dynamic-form.component.css */
@media (min-width: 640px) {
    .mat-form-field {
        margin: 0;
    }
}

.password-display {
    font-size: 1.5rem;
    color: #333;
}

.break-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    height: 50vh;
    /* Ensures items wrap to the next line if needed */
    gap: 10px;
}

.error {
    font-size: 0.8em;
    color: red;
}

.form {
    padding: 10px 3vw;
    height: 40vh;
}