/* dynamic-form.component.css */
@media (min-width: 640px) {
    .mat-form-field {
        margin: 0;
    }
}

/* credential-card.component.css */
.selected {
    border: 2px solid #3f51b5;
    box-shadow: 0 4px 20px rgba(63, 81, 181, 0.2);
}

.password-display {
    font-size: 1.5rem;
    color: #333;
}

.break-list {
    display: flex;
    flex-wrap: wrap;
    /* Ensures items wrap to the next line if needed */
    gap: 10px;
}

.error {
    font-size: 0.8em;
    color: red;
}

.form {
    padding: 10px 3vw;
}